.secondSection {
    width: 100%;
    background-color: white;
    margin-top: 4rem;
    position: relative;
    margin-bottom: 3rem;
}

.secondSectionTitle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.starCircle {
    display: flex;
    position: relative;
    min-width: 48px;
    min-height: 48px;
    border: 1px solid lightgray;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.starCircle img {
    max-width: 25px;
    max-height: 25px;
}

.tourActivityTitle {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 50px;
}

.tourActivityTitle p {
    font-size: 1rem;
    font-weight: 500;
    padding: 13px;
    padding: 13px 18px 13px 18px;
}

.secondSectionHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    margin-top: 1.2rem;
}

.secondSectionHeading h2 {
    max-width: 700px;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.4;
    word-wrap: break-word;
}

.secondSectionHeading span {
    color: #797979;
}

.secondSectionCarouselContainer {
    width: 100%;
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    position: relative;
    /* flex-wrap: wrap; */
    justify-content: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.secondSectionCard {
    background: white;
    border-radius: 20px;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    display: flex;
    width: 20%;
    max-width: 220px;
    position: relative;
    flex-direction: column;
}

.secondSectionCard img {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.secondSectionCard:hover img,
.secondSectionCard.active img {
    transform: translateY(-4rem);
}

.textSecondSectionCard {
    max-width: 100%;
    opacity: 0;
    padding-left: 5px;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.csecondSectionCardard:hover .textSecondSectionCard,
.secondSectionCard.active .textSecondSectionCard {
    transform: translateY(-3.5rem);
    opacity: 1;
}


.textSecondSectionCard h3 {
    font-size: 1.1rem;
    color: black;
    display: flex;
    font-weight: 450;
    justify-content: space-between;
}

.textSecondSectionCard p {
    font-size: .85rem;
    color: black;
    margin-top: 5px;
    text-align: left;
}

@media (min-width: 601px) and (max-width: 1024px) {
    .secondSectionCarouselContainer {
        margin-top: 1.5rem;
    }
    
    .secondSectionCard {
        margin-top: 0ch;
    }

    .textSecondSectionCard {
        opacity: 1;

    }

    .secondSectionCard:hover img,
    .secondSectionCard.active img {
        transform: translateY(0rem);
    }

    .csecondSectionCardard:hover .textSecondSectionCard,
    .secondSectionCard.active .textSecondSectionCard {
        transform: translateY(0rem);
    }

    .textSecondSectionCard h3 {
        font-size: .8rem;
        color: black;
        display: flex;
        font-weight: 450;
        justify-content: space-between;
    }
    
    .textSecondSectionCard p {
        font-size: .5rem;
        color: black;
        margin-top: 5px;
        text-align: left;
    }

    .secondSectionHeading h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) {
    .secondSectionCarouselContainer {
        flex-wrap: wrap;
        margin-top: 2rem;
    }
    .secondSectionCard {
        max-width: 140px;
        min-width: 120px;
        margin-top: 1rem;
    }

    .secondSectionCard:hover img,
    .secondSectionCard.active img {
        transform: translateY(0rem);
    }

    .textSecondSectionCard {
        margin-top: .2rem;
        max-width: 100%;
        opacity: 1;
        padding-left: 5px;
        transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    }
    
    .csecondSectionCardard:hover .textSecondSectionCard,
    .secondSectionCard.active .textSecondSectionCard {
        transform: translateY(0rem);
    }
    
    
    .textSecondSectionCard h3 {
        font-size: .9rem;
        color: black;
        display: flex;
        font-weight: 450;
        justify-content: space-between;
    }
    
    .textSecondSectionCard p {
        font-size: .5rem;
        color: black;
        margin-top: 5px;
        text-align: left;
    }

    .secondSectionHeading h2 {
        font-size: 1.5rem;
    }
}