.secondSection {
    width: 100%;
    background-color: white;
    /* min-height: 100vh; */
    margin-top: 4rem;
    position: relative;
    margin-bottom: 3rem;
}

.secondSectionTitle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.starCircle {
    display: flex;
    position: relative;
    min-width: 48px;
    min-height: 48px;
    border: 1px solid lightgray;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.starCircle img {
    max-width: 25px;
    max-height: 25px;
}

.tourActivityTitle {
    display: flex;
    /* max-width: 200px; */
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 50px;
}

.tourActivityTitle p {
    font-size: 1rem;
    font-weight: 500;
    padding: 13px;
    padding: 13px 18px 13px 18px;
}

.secondSectionHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    margin-top: 1.2rem;
}

.secondSectionHeading h2 {
    max-width: 700px;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.4;
    word-wrap: break-word;
}

.secondSectionHeading span {
    color: #797979;
}

.secondSectionCarouselContainer {
    position: relative;
    width: 100%;
    /* overflow: hidden; */
    margin-top: 6rem;
}

.carouselTrackContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
}

.carouselTrack {
    display: flex;
    gap: .5rem;
    padding: 2rem 5%;
    transition: transform 0.4s ease;
    will-change: transform;
    margin-right: 3rem;
}

.secondSectionCard {
    flex: 0 0 20%;
    /* Show 5 cards across the track, 4 full + 0.5 partial on each side */
    background: white;
    border-radius: 20px;
    /* overflow: hidden; */
    /* box-shadow: 0 4px 4px rgba(0,0,0,0.1); */
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px); */
}

.secondSectionCard img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    display: block;
    border-radius: 20px;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.secondSectionCard:hover img,
.secondSectionCard.active img {
    transform: translateY(-4rem);
}

.textSecondSectionCard {
    max-width: 100%;
    opacity: 0;
    padding-left: 5px;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.csecondSectionCardard:hover .textSecondSectionCard,
.secondSectionCard.active .textSecondSectionCard {
    transform: translateY(-3.5rem);
    opacity: 1;
}


.textSecondSectionCard h3 {
    font-size: 1.1rem;
    color: black;
    display: flex;
    font-weight: 450;
    justify-content: space-between;
    /* gap: 10px; */
}

.textSecondSectionCard p {
    font-size: .85rem;
    color: black;
    margin-top: 5px;
    text-align: left;
}